<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Account</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</head>

<body>
    {% load allauth i18n %}
    {% if messages %}

    {% for msg in messages %}
    <p {% if msg.tags %} class="p-3 alert-{{msg.tags}}" {% endif %}>{{msg}}</p>
    {% endfor %}

    {% endif %}

    <div class="d-flex justify-content-center align-items-center vh-100">


        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="text-center">
                <h2>{% trans "Sign Out" %}</h2>
                <p>{% trans 'Are you sure you want to sign out?' %}</p>
        
                {% url 'account_logout' as action_url %}
                <form method="post" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ redirect_field }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block">
                            {% trans 'Sign Out' %}
                        </button>
                    </div>
                </form>
        
                <p class="text-center mt-3">
                    <a href="{% url 'account_login' %}" class="btn btn-secondary">
                        {% trans 'Cancel' %}
                    </a>
                </p>
            </div>
        </div>

    </div>

</body>

</html>



